language: python
python:
  - "3.3"
before_install:
  - sudo apt-get update -qq
install:

  - sudo apt-get install -y python-lxml
  - pip install -r requirements.txt

script: ./kodidevkit/script.py ..
